<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a889">  <td>20/07/18 22:37:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestClass.getBuildDatesLists()[pri:0, instance:testCases.RestClass@59ec2012]">getBuildDatesLists</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>20/07/18 22:41:09</td>   <td>193395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestClass.getMainTypeLists()[pri:0, instance:testCases.RestClass@59ec2012]">getMainTypeLists</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>20/07/18 22:41:20</td>   <td>203925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestClass.getManufacturerList()[pri:0, instance:testCases.RestClass@59ec2012]">getManufacturerList</td> 
  <td>main@1465085305</td>   <td></td> </tr>
</table>
